<h1>Listing users</h1>

<p id="notice"><%= notice %></p>

<table>
<%	header_row = false %>
<% @users.each do |user| %>
  <% if !header_row %>
    <tr>
		<th>Role</th>
		<th>Username</th>
		<th>Email</th>
		<!-- th>Crypted password</th>
		<th>Password salt</th>
		<th>Persistence token</th -->
		<% if permitted_to? :show, user %>
			<th></th>
		<% end %>
		<% if permitted_to? :edit, user %>
			<th></th>
		<% end %>
		<% if permitted_to? :destroy, user %>
			<th></th>
		<% end %>
		<% header_row = true %>
	</tr>
  <% end %>
  <tr>
    <td><%= user.role.name %></td>
    <td><%= user.username %></td>
    <td><%= user.email %></td>
    <!-- td><%= user.crypted_password %></td>
    <td><%= user.password_salt %></td>
    <td><%= user.persistence_token %></td -->
	<%# permitted_to? method part of declarative_authorization %>
	<% if permitted_to? :show, user %>
		<td><%= link_to 'Show', user %></td>
	<% end %>
	<% if permitted_to? :edit, user %>
		<td><%= link_to 'Edit', edit_user_path(user) %></td>
	<% end %>
	<% if permitted_to? :destroy, user %>	
		<td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
	<% end %>

  </tr>
<% end %>
</table>

<br />
<%# permitted_to? method part of declarative_authorization %>
<% if permitted_to? :create, User.new %>
	<%= link_to 'New User', new_user_path %>
<% end %>
