<p id="notice"><%= notice %></p>

<p>
  <%= image_tag("/#{@photo.location.gsub("\\","/")}", { :align => 'absmiddle', :border => 0, :size => '200x200', :alt => @photo.title, :title => @photo.title }) %>
</p>

<p>
  <b>Location:</b>
  <%= @photo.location %>
</p>

<p>
  <b>Title:</b>
  <%= @photo.title %>
</p>

<% if permitted_to? :edit, @photo %>
	<%= link_to 'Edit', edit_album_photo_path(@album,@photo) %> |
<% end %>
<% if permitted_to? :destroy, @photo %>	
  <%= link_to 'Destroy', [@album, @photo], :confirm => 'Are you sure?', :method => :delete %> |
<% end %>     
<% if permitted_to? :show, @album %>
  <%= link_to 'Back to Album', album_photos_path(@album) %>
<% end %>


